body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange{
    color:orange ;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left:8%;
}
.half-width img{
    width: 80%;
}
.hire-me{
    text-decoration: none;
    background-image:linear-gradient(orange,rgb(255, 102, 0));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.top-benner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 60px orange;
    padding-left: 10px;
    border-radius: 40px;
    border: 1px rgb(247, 17, 17) solid;
    }

.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;}
   
footer p{
    text-align: center;
}